<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="init" fxLayoutGap="20px">
    <h1>Listado de personas</h1>
    <button id="btn_agregar" type="button" (click)="add()" mat-mini-fab color="primary">
        <mat-icon>add</mat-icon>
    </button>
</div>
<mat-divider></mat-divider>
<br>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">

    <table mat-table [dataSource]="personas" class="mat-elevation-z8">
        <ng-container matColumnDef="pkpersona">
            <th mat-header-cell *matHeaderCellDef> PK </th>
            <td mat-cell *matCellDef="let persona"> {{persona.pkpersona}} </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let persona"> {{persona.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let persona"> {{persona.apellido}} </td>
        </ng-container>
        <ng-container matColumnDef="genero">
            <th mat-header-cell *matHeaderCellDef> Genero </th>
            <td mat-cell *matCellDef="let persona"> {{persona.genero}} </td>
        </ng-container>
        <ng-container matColumnDef="fechaNacimiento">
            <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
            <td mat-cell *matCellDef="let persona"> {{persona.fechaNacimiento}} </td>
        </ng-container>
        <ng-container matColumnDef="contador">
            <th mat-header-cell *matHeaderCellDef> Cantidad de visitas </th>
            <td mat-cell *matCellDef="let persona">
                <span matBadge="{{persona.contador}} " matBadgeOverlap="false" matBadgeColor="accent"></span>
            </td>
        </ng-container>
        <ng-container matColumnDef="planeta">
            <th mat-header-cell *matHeaderCellDef> Planeta </th>
            <td mat-cell *matCellDef="let persona">
                {{persona.planeta.nombre}}
            </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let persona">
                <a color="primary" mat-raised-button (click)="update(persona)">
                    <mat-icon>remove_red_eye</mat-icon>
                </a>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>